// This uses the SCSS pre-processor language for CSS design.  Like Pub, this allows for much cleaner code.  It also allows helps with more complicated designs, allowing other people to see how things work.

// A couple things that make this cleaner are the consistent alignment of CSS property fields, and the common pattern of how the various mixins are used.

// COMMON MIXINS (ever expanding)
@mixin wh($w, $h) {
  width:  $w;
  height: $h;
}

@mixin tl($t, $l) {
  top:  $t;
  left: $l;
}

@mixin tr($t, $r) {
  top:   $t;
  right: $r;
}

@mixin pseudo {
  position: absolute;
  content:  '';
}

@mixin triangle {
  -webkit-clip-path:
    polygon(50% 0%,
            40% 100%,
            60% 100%);
  clip-path:
    polygon(50% 0%,
            40% 100%,
            60% 100%);
}


// $className -  base name for line divs (allows indenpendent graphs)
// $barWeight -  thickness of each bar
// $barRadius -  end radius of bars
// $values -     relative values for each bar (include units in list)
// $colors -     list of matching colors for bars
// $animations - list of matching annimations for bars (overkill?)
@mixin bar-graph($className, $barWeight, $barRadius, $values, $colors, $animations) {
  @for $i from 1 through length($colors) {
    .#{$className}-#{$i} {
      height:           $barWeight;
      width:            nth($values, $i);
      background-color: nth($colors, $i);
      border-radius:    0 $barRadius $barRadius 0;
      animation:        nth($animations, $i);
    }
  }
}

// ANIMATION DECLARATIONS
//animation: show-NAME $animation-duration $animation-timing-function $animation-delay $animation-iteration-count $animation-direction $animation-fill-mode $animation-play-state;
$animation-duration:         10s;
$animation-delay:            0s;
$animation-timing-function:  linear;     // linear, ease,	ease-in,ease-out, ease-in-out, step-start, step-end, steps(int,start|end), cubic-bezier(n,n,n,n), initial, inherit
$animation-iteration-count:  infinite; // infinite, <number>
$animation-direction:        normal;   // normal, reverse, alternate, alternate-reverse, initial, inherit
$animation-fill-mode:        forwards;     // none, forwards, backwards, both, initial, inherit
$animation-play-state:       running;  // paused, rinning, initial, inherit

// APPLICATION SPECIFIC VARIABLES

$black:          #000000;
$white:          #FFFFFF;
$teal:           #41B883;
$blue:           #35495E;
$lightTeal:      #C7EADB;

$body-color:        $white;
$background-color:  $lightTeal;
$title-color:       $teal;
$title-span-color:  $teal;
$learning-color:    $teal;
$footer-color:      $teal;
$footer-link:       $teal;


// COMMON CLASS STYLES
body {
  background:    $background-color;
  color:         $body-color;
  font-family:   sans-serif;
}

.box {
  position:      relative;
  @include       wh(400px, 400px);
  margin:        auto;
  background:    none;
  //border:        solid 1px;
  overflow:      hidden;
}

.title {
  font-size:     1.5em;
  text-align:    center;
  color:         $title-color;
}

.title span {
  color:         $title-span-color;
}


// APPLICATION SPECIFIC STYLES
.container {
  position:      absolute;
  @include       wh(100%, 100%);
  @include       tl(0, 0);
  margin:        auto;
  transform:     rotate(180deg);
}

@mixin letter {
  -webkit-clip-path:  polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path:          polygon(50% 0%, 0% 100%, 100% 100%);
  // HACK: this is the clip I should use WITHOUT the container transform
  //-webkit-clip-path:  polygon(50% 100%, 0 0, 100% 0);
  //clip-path:          polygon(50% 100%, 0 0, 100% 0);
  transform:          scale(0.9, 0.9);
}

.letter-outer {
  position:      absolute;
  @include       wh(75%, 75%);
  @include       tl(5%, 12.5%);
  @include       letter;
  margin:        auto;
  background:    $teal;
}

.letter-mid {
  position:      absolute;
  @include       wh(75%, 75%);
  @include       tl(33%, 12.5%);
  @include       letter;
  margin:        auto;
  background:    $blue;
}

.letter-inner {
  position:      absolute;
  @include       wh(75%, 75%);
  @include       tl(73%, 12.5%);
  @include       letter;
  margin:        auto;
  background:    $background-color;
}

.learning {
  color:         $learning-color;
  text-align:    center;
}

// FOOTER
.footer  {
  color: $footer-color;
  p a:active,
  p a:focus,
  p a:hover,
  p a:visited {
    color: $footer-link;
  }
  //hr { display: none; }
  text-align: center;
  //margin-top: 60px;
}


// ANIMATION FUNCTIONS
/*
@keyframes show-blink {
   0%   { transform: scale(1, 1); }
  20%   { transform: scale(1, 1); }
  21%   { transform: scale(1, 0.1); }
  22%   { transform: scale(1, 1);  }
  100%  { transform: scale(1, 1); }
}
*/
