body {
  padding: 20px;
  color: black;
  background: url("https://robinengelmandotcom.files.wordpress.com/2015/07/dsc_0191.jpg?w=645&h=320")  center fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

.background-layer {
  background: rgba(248, 247, 216, 0.8);
  border-radius: 1em;
  padding-top: 2px;
  padding-bottom: 2px;
  
}

.app-header {
  color:            darken(white, 10%);
  text-align:       center;
}

.box {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  background-color: offwhite;
}

.footer {
  color:            black;
  p a:active,
  p a:focus,
  p a:hover,
  p a:visited
    color:          black;
  text-align:       center;
}


